---
import Layout from '../../layouts/Layout.astro';
import { getCollection } from 'astro:content';
const allPosts = await getCollection('TIL');
const pageTitle = 'TIL';
---

<Layout pageTitle={pageTitle}>
  <h1>TIL</h1>
  <ul>
    {
      allPosts.map((post: any) => (
        <li>
          <a href={`/TIL/${post.id}/`}>{post.data.title}</a>
        </li>
      ))
    }
  </ul>
</Layout>
