@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

@import 'tailwindcss';

@plugin '@tailwindcss/typography';

@theme {
  --font-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

@layer base {
  :root {
    /* https://www.djangoproject.com/styleguide/#colors */
    --green-light: #93D7B7;
    --link-color: #20AA76;
    --color-text: #0C3C26;
    --text-light: #798780;
  }

  h1 {
    @apply text-4xl italic my-5
  }

  h2 {
    @apply text-3xl my-3
  }

  h3 {
    @apply text-2xl my-2
  }

  h4, h5, h6 {
    @apply my-1
  }

  p {
    @apply my-2 text-lg
  }

  pre {
    @apply overflow-auto
  }

  ::selection {
    background: var(--green-light);
  }

  a {
    color: var(--link-color);
  }

  ul {
    @apply list-disc ml-5 text-lg;
  }

  ol {
    @apply list-decimal ml-5 text-lg;
  }
}

@layer utilities {
  .nav-item {
    @apply relative text-white text-sm before:absolute before:bottom-0 before:left-0 before:w-full before:h-[1px] before:bg-white before:scale-x-0 before:origin-right before:transition-transform before:duration-300 hover:before:scale-x-100 hover:before:origin-left
  }
}
