@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

@import 'tailwindcss';

@plugin '@tailwindcss/typography';

@theme {
  --font-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

@layer base {
  :root {
    /* https://www.djangoproject.com/styleguide/#colors */
    --green-light: #93D7B7;
    --link-color: #20AA76;
    --color-text: #0C3C26;
    --text-light: #798780;
  }

  ::selection {
    background: var(--green-light);
  }

  a {
    color: var(--link-color);
  }

  .prose h1 {
    text-align: center;
  }
}

@layer utilities {
  .nav-item {
    @apply relative text-white text-sm before:absolute before:bottom-0 before:left-0 before:w-full before:h-[1px] before:bg-white before:scale-x-0 before:origin-right before:transition-transform before:duration-300 hover:before:scale-x-100 hover:before:origin-left
  }
}

@layer components {
  .article-list {
    @apply mx-auto;
    max-width: 65ch;

    h1 {
      @apply text-3xl text-center;
    }
  }

  .post {
    @apply relative my-3;

    header {
      @apply text-xl
    }

    header a:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
    }
  }
}
