---
# Only the main Sass file needs front matter (the dashes are enough)
sitemap: false
---

@charset "utf-8";

@import "so-simple";

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.site-logo-img {
  background-color: white;
  animation-name: fadeInUp;
}

.page-image {
  width: fit-content;
  margin: -75px auto 2em;
}

.youtube-iframe {
  max-width: 560px;
  width: 100%;
  aspect-ratio: 560/315;
}

::selection {
  background: #C9F0DD;
}

.entry-image.u-photo {
  border-radius: 4px;
}