---
# Only the main Sass file needs front matter (the dashes are enough)
sitemap: false
---

@charset "utf-8";

@import "so-simple";

:root {
  /* https://www.djangoproject.com/styleguide/#colors */
  --green-light: #93D7B7;
  --color-text: #0C3C26;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.site-logo-img {
  background-color: white;
  animation-name: fadeInUp;
}

.page-image {
  width: fit-content;
  margin: -75px auto 2em;
}

.youtube-iframe {
  max-width: 560px;
  width: 100%;
  aspect-ratio: 560/315;
}

::selection {
  background: #C9F0DD;
}

.entry-image.u-photo {
  border-radius: 4px;
}

.terminal-content {
  border: 1px solid black; 
  line-height: 1.1 !important;

  .nv {
    user-select: none;
  }
}

.tip-content {
  background-color: #C9F0DD;
  border-left: none;
  border-radius: 4px;
}

.tree-content {
  border: 1px solid black; 
  line-height: 1.1 !important;
}

.entry {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.entry-title {
  margin-bottom: 0;
}

.entry-date {
  font-family: "Lora", serif;
  font-style: italic;
  white-space: nowrap;
  font-size: 0.75em;
}

.entry-excerpt {
  margin-top: 5px;
  font-size: 0.9rem;
}

.entry-meta {
  display: flex;
  align-items: center;
  font-family: "Lora", serif;
  font-style: italic;
  white-space: nowrap;
  font-size: 0.75em;
}

.entry-tags-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 5px;
}

.entry-tag {
  display: inline-block;
  border-radius: 3px;
  padding: .2em .5em .3em;
  border-radius: 2px;
  background: var(--green-light);
  color: var(--color-text);
  font-weight: 600;
  margin: .25em .1em
}

.entry-tag::before {
  content: "#";
  margin-right: 1px;
}

.p-summary {
  margin-bottom: 0.5rem;
}

.p-summary p {
  margin: 0;
}