---
import Layout from '../layouts/Layout.astro';
import { getCollection } from 'astro:content';
import Article from '../components/Article.astro';
import Search from '../components/Search.astro';

const allTIL = await getCollection('TIL');
const allArticles = await getCollection('articles');
const allSnippets = await getCollection('snippets');
const allPosts = [...allTIL, ...allArticles, ...allSnippets].sort(
  (a, b) =>
    (b.data.updatedDate || b.data.pubDate).getTime() -
    (a.data.updatedDate || a.data.pubDate).getTime(),
);
---

<Layout>
  <header class="container mx-auto mt-4 mb-16 flex flex-col items-center">
    <div
      style="height: 150px; width: 150px; border-radius: 100%; overflow: hidden"
    >
      <img width="150" src="/media/django-rocket.svg" alt="django rocket" />
    </div>
    <h1 class="my-5 font-serif text-4xl font-semibold">Minimalist Django</h1>
    <cite class="text-center font-serif">
      Perfection is achieved, not when there is nothing more to add, <br /> but when
      there is nothing left to take away.
    </cite>
  </header>
  <section class="article-list">
    <Search />
    <h2 class="mt-12 text-center font-serif text-3xl font-semibold" id="latest-heading">
      Latest updates and posts
    </h2>
    <div id="initial-posts">
      {allPosts.map((post: any) => <Article {post} />)}
    </div>
    <div class="mb-10 hidden" id="search-results">
      <h2 class="mb-6 text-center font-serif text-3xl font-semibold">Search Results</h2>
      <div id="search-results-list"></div>
    </div>
  </section>
</Layout>
