---
import { unified } from 'unified';
import remarkParse from 'remark-parse';
import remarkRehype from 'remark-rehype';
import rehypeStringify from 'rehype-stringify';
const { post } = Astro.props;

let caption = '';
if (post.data.image?.caption) {
  const processor = unified()
    .use(remarkParse)
    .use(remarkRehype)
    .use(rehypeStringify);
  const result = await processor.process(post.data.image.caption);
  caption = String(result);
}
---

{
  post.data.image ? (
    <header class="prose mx-auto my-5 flex aspect-600/300 items-center justify-center">
      <figure>
        <img
          src={post.data.image.url}
          alt={post.data.image.alt}
          title={post.data.image?.caption ?? post.data.image.alt}
          class="mx-auto"
        />
        {post.data.image?.caption && (
          <figcaption
            class="mt-1 text-center text-xs"
            set:html={caption}
          />
        )}
      </figure>
    </header>
  ) : (
    <header class="prose mx-auto my-5 aspect-600/300">
      <figure>
        <img
          src={`https://picsum.photos/seed/${post.id}/600/300`}
          alt={'just a random image from lorem picsum'}
          title={'just a random image from lorem picsum'}
          class="mx-auto h-[300px]"
        />
        <figcaption class="mt-1 text-center text-xs">
          This is just a random{' '}
          <a href="https://picsum.photos/" target="_blank">
            LoremPicsum
          </a>{' '}
          image
        </figcaption>
      </figure>
    </header>
  )
}
