<footer class="mt-8 border-t border-gray-200 py-6">
  <div class="container mx-auto px-4">
    <p class="text-center font-serif text-xs text-gray-600">
      Copyright © {new Date().getFullYear()}
      Victor Movileanu
    </p>
  </div>
</footer>
